<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div id="itemContainer" class="container">
                <ul class="collection with-header">
                    <% if (items.length> 0) { %>
                        <% items.forEach(item=> { %>
                            <li class="collection-item">
                                <a href="/items/<%= item._id%>">
                                    <div>
                                        <%= item.name %> $<%= item.price %>
                                        <a href="#!" class="secondary-content">
                                            <i class="material-icons" data-id="<%= item._id %>">delete</i>
                                            <i href="#edit_item_modal" data-id="<%= item._id %>" class="material-icons secondary-content modal-trigger">edit</i>
                                        </a>

                                    </div>
                                </a>
                            </li>
                            <% }) %>

                    <%} else { %>
                        <li class="collection-item">
                            <div>No items founds</div>
                        </li>
                    <%} %>
                </ul>
                <!-- Modal Structure -->
                <div id="edit_item_modal" class="modal">
                    <div class="modal-content">
                        <h4>Edit form</h4>
                        <form action="" id="edit_form">
                            <input type="text" name="name" placeholder="item name">
                            <input type="number" name="price" placeholder="item price">
                            <button class="btn">Update</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>
            </div>

            <!--JavaScript at end of body for optimized loading-->
            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script>
                var updateId;
                document.addEventListener('DOMContentLoaded', function() {
                    var elems = document.querySelectorAll('.modal');
                    var instances = M.Modal.init(elems);
                });

                edit_form.onsubmit =async function (e) {
                    e.preventDefault();
                    let data = new FormData(edit_form);

                    for (var pair of data.entries()){
                        console.log(pair[0] + ' ' + pair[1]);
                    }

                    let response = await fetch(`/items/${updateId}`,{
                        method: 'PUT',
                        body: new URLSearchParams(data),
                        header: new Headers({
                            'Content-type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        })
                    })

                    let result = await response.json();

                    edit_form.reset();
                    window.location.reload();
                }

                itemContainer.onclick = function(e){
                    console.log("e.target", e.target.textContent);
                    if(e.target.textContent === 'edit') {
                        updateId = e.target.getAttribute('data-id');
                        console.log('we',updateId);

                    }
                    if (e.target.textContent === 'delete') {
                        const id = e.target.getAttribute('data-id');
                        console.log(id);
                        const endpoint = `/items/${id}`;
                        fetch(endpoint,{method: 'DELETE'})
                            .then(res=>res.json())
                            .then((data)=> window.location.href = data.redirect)
                            .catch(err => console.log(err))

                    }
                }
            </script>
    </body>

</html>